body {
  background: #414aa1;
  height: 100vh;
  overflow-y: hidden;
  margin: 2rem;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 400px;
  grid-template-rows: max-content;
  justify-content: center;
  align-content: center;
}

.login {
  background: rgba(255,255,255, 0.6);
  padding: 2rem;
  border-radius: 5px;

  /* grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: 1rem;
  justify-items: center;
}

.login input {
  width: 100%;
  border: 1px solid #eee;
  padding: 0.3rem;
  outline: none;
  border-radius: 5px;
}