body {
  background: #414aa1;
  overflow-y: hidden;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
}

.container {
  height: 100%;
  max-width: 1080px;
  margin: 0 auto;

  /* grid */
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 75px 1fr 75px;
  grid-template-areas: 
  'header header'
  'aside main'
  'footer footer'
  ;
}

header, aside, main, footer {
  background: rgba(255,255,255, 0.6);

  /* grid */
  display: grid;
  justify-content: center;
  align-content: center;
}

header {
  grid-area: header;
}

aside {
  grid-area: aside;
}

main {
  grid-area: main;
  padding: 1rem;

  /* grid */
  display: grid;
  grid-gap: 1rem;
  justify-content: stretch;
  align-content: stretch;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 150px;
}

.blog-post {
  background: rgb(114, 30, 210, .4);
}

footer {
  grid-area: footer;
}

@media (max-width: 650px) {
  aside {
    display: none;
  }

  .container {
    /* grid */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  'header'
  'main'
  'footer'
  ;
  }
}